button.ws-hbmenu-toggle {
	background-color: unset;
	border: none;
}

.ws-hbicon-part1, .ws-hbicon-part2, .ws-hbicon-part3 {
    height: 2px;
    width: 28px;
    margin: 6px 0px 6px 0px;
    transition: all 0.15s ease;
}
.ws-hbicon-part2 {
    width: 24px;
}
.ws-hbmenu-spacer {
    height: 0px;
    width: 28px;
}

/* animated 'X' transition effect */
.ws-hbmenu-toggle[aria-expanded=true] .ws-hbicon-part1 {
    transform:  translateY(8px) rotate(45deg);
}
.ws-hbmenu-toggle[aria-expanded=true] .ws-hbicon-part2 {
    transform:  scaleX(0);
}
.ws-hbmenu-toggle[aria-expanded=true] .ws-hbicon-part3 {
    transform:  translateY(-8px) rotate(-45deg);
}
/* Hover effects */
.ws-hbmenu-toggle:hover .ws-hbicon-part1, .ws-hbmenu-toggle:hover .ws-hbicon-part3 {
    width: 24px;
}
.ws-hbmenu-toggle:hover .ws-hbicon-part2 {
    width: 28px;
}

/* Dropdown effects */
.wp-block-willsides-hamburger-dropdown-menu {
    position: relative;
	width: max-content;
	background-color: unset !important;
}
.ws-hbmenu-content {
	visibility: hidden;
	opacity: 0;
	transition: opacity .1s linear;
	position: absolute;
    margin: 0;
	z-index: 2;
	padding: 0.5rem 1rem !important;
	width: max-content !important;
	min-width: calc(200px - 2rem);
	color: #000;
	border: 1px solid rgba(0,0,0,.15);
}
.ws-hbmenu-toggle[aria-expanded=true]+.ws-hbmenu-content {
	visibility: visible;
	opacity: 1;
}
.wp-block-willsides-hamburger-dropdown-menu.alignleft .ws-hbmenu-content {
	left: 0;
}
.wp-block-willsides-hamburger-dropdown-menu.alignright .ws-hbmenu-content {
	right: 0;
}
.wp-block-willsides-hamburger-dropdown-menu.aligncenter .ws-hbmenu-content {
	left: 50%;
	transform: translateX(-50%);
}

/* Remove bullet points from list items */
.ws-hbmenu-content li {
	display: block;
}