button.ws-menu-toggle {
	padding: 0.75rem;
	background-color: transparent;
    border: none;
	cursor: pointer;
}
.ws-hbicon-part1, .ws-hbicon-part2, .ws-hbicon-part3 {
    height: 2px;
    width: 28px;
    margin: 6px 0px 6px 0px;
    transition: all 0.15s ease;
}
.ws-hbicon-part2 {
    width: 24px;
}
.ws-hbmenu-spacer {
    height: 0px;
    width: 28px;
}

/* animated 'X' transition effect */
.ws-menu-toggle[aria-expanded=true] .ws-hbicon-part1 {
    transform:  translateY(8px) rotate(45deg);
}
.ws-menu-toggle[aria-expanded=true] .ws-hbicon-part2 {
    transform:  scaleX(0);
}
.ws-menu-toggle[aria-expanded=true] .ws-hbicon-part3 {
    transform:  translateY(-8px) rotate(-45deg);
}
/* Hover effects */
.ws-menu-toggle:hover .ws-hbicon-part1, .ws-menu-toggle:hover .ws-hbicon-part3 {
    width: 24px;
}
.ws-menu-toggle:hover .ws-hbicon-part2 {
    width: 28px;
}

/* Dropdown effects */
.wp-block-willsides-hamburger-dropdown-menu {
    position: relative;
	width: max-content;
	background-color: unset !important;
}
.ws-menu-content {
	visibility: hidden;
	opacity: 0;
	transition: opacity .1s linear;
	position: absolute;
    margin: 0;
	z-index: 2;
	padding: 0.5rem 1rem !important;
	width: max-content !important;
	min-width: calc(200px - 2rem);
	color: #000;
	border: 1px solid rgba(0,0,0,.15);
}
.ws-menu-toggle[aria-expanded=true]+.ws-menu-content {
	visibility: visible;
	opacity: 1;
}
.ws-menu-content.ws-menu-align-left {
	left: 0;
}
.ws-menu-content.ws-menu-align-right {
	right: 0;
}
.ws-menu-content.ws-menu-align-center {
	left: 50%;
	transform: translateX(-50%);
}

/* Remove bullet points from list items */
.ws-menu-content li {
	display: block;
}

.ws-menu-content ul, .ws-menu-content .wp-block-loginout {
    display: flex;
	flex-direction: column;
	align-items: normal;
    list-style: none;
    padding-inline: 0;
}